@import "./functions";

$social-image-size: 24px;

.footer {
  &__icon-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  &__icon-link {
    display: inline-block;
    padding: 0 1rem 0 0;

    &:hover {
      svg {
        path {
          fill: primary-color("dark");
        }
      }
    }

    svg {
      height: $social-image-size;
      width: $social-image-size;

      path {
        fill: text-color("dark");
        transition: fill var(--ifm-transition-fast) ease-in-out;
      }
    }
  }
}

.copyright-text {
  color: text-color("dark");
  margin: 0;
  padding: 4rem 0 0;
}
