@import "../../styles/mixins";

.container {
  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
  }

  &__outer {
    background-color: var(--agl-background-primary-color);
    display: flex;
    justify-content: center;
    padding: 5rem 1rem;
    width: 100%;
    @include tablet-and-up {
      padding: 5rem;
    }

    &--accent {
      background-color: var(--agl-background-accent-color);
    }
  }
}
